<div class="search-bar">
  <p-autocomplete
    [ngModel]="selectedActor()"
    (ngModelChange)="onActorChange($event)"
    [suggestions]="suggestions()"
    optionLabel="name"
    placeholder="Search actors…"
    (completeMethod)="onComplete($event)"
    (onSelect)="onSelect($event)"
    (onClear)="clear()"
    [showClear]="true"
    [minLength]="2"
    scrollHeight="300px"
    class="search-autocomplete"
  >
    <ng-template #item let-person>
      <div class="suggestion-item">
        @if (person.image?.medium) {
          <img [src]="person.image.medium" [alt]="person.name" class="suggestion-avatar" />
        } @else {
          <span class="suggestion-avatar-placeholder pi pi-user"></span>
        }
        <span class="suggestion-name">{{ person.name }}</span>
      </div>
    </ng-template>
  </p-autocomplete>
</div>
